<template>
    <div id="app">
        <header id="page-header">
            <router-link to="/" class="monochrome-title">MonoChrome</router-link>
        </header>
        <div class="content">
            <router-view></router-view>
        </div>
        <footer>
            <div>
                <router-link to="/about">About Page</router-link>
            </div>
        </footer>
    </div>
</template>

<script>
    export default {
        name: 'App'
    }
</script>

<style lang="scss">
    html {
        height: 100%;
    }

    #app {
        width: 100%;
        position: relative;

        font-family: 'Helvetica', 'Verdana', sans-serif;

        #page-header {
            position: fixed;
            top: 0;

            width: 100%;
            padding: 50px 0;

            font-size: 4rem;
            text-align: center;

            color: black;
            background-color: white;

            z-index: 1;

            transition: all 0.2s ease-in-out;
            
            @media (max-width: 768px) {
                padding-top: calc(2*50px - 14vw);
                padding-bottom: calc(2*50px - 14vw);

                font-size: 14vw;
            }

            @at-root
            #app.sticky #page-header,
            #app.no-title #page-header {
                padding: 0;

                font-size: 2rem;

                color: white;
                background-color: black;
            }
        }

        .monochrome-title {
            font-family: 'Helvetica', 'Verdana', sans-serif;
            font-family: TitleFont;

            color: inherit;
            text-decoration: none;

            text-transform: uppercase;
        }

        .full-width {
            width: 100vw;
            overflow: hidden;
        }

        > div.content {
            width: 90%;
            max-width: 1440px;

            left: 0; right: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: calc(4.5rem + 100px);
            margin-bottom: 100px;

            @at-root #app.no-title > div.content {
                margin-top: 2.4rem;
            }

            p {
                text-align: justify;
                line-height: 1.7;
                letter-spacing: 1px;
            }
        }

        footer {
            width: 100%;

            left: 0; right: 0;
            margin: 0 auto;
            padding: 40px 0;

            background: #dedede;

            div {
                width: 90%;
                max-width: 1440px;

                left: 0; right: 0;
                margin: 50px auto 50px auto;
            }
        }
    }
</style>