<template>
    <div class="image-cap" :style="styles">
        <div class="overlay">
            <slot></slot>
            <span class="inner-mini-caption"><slot name="caption"></slot></span>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ImageCap',
        props: {
            'src': String,
            'sizing': {
                type: String,
                default: '16:9'
            },
            'mobileSizing': String
        },
        data() {
            return {
                windowWidth: window.innerWidth
            };
        },
        computed: {
            height() {
                let sizeInput = (this.windowWidth < 767 && this.mobileSizing) ? this.mobileSizing : this.sizing;

                if (sizeInput.indexOf(':') > -1)
                {
                    let inputs = sizeInput.split(':');
                    let x = inputs[0], y = inputs[1];

                    return 'calc(' + (y / x) + ' * 100vw)';
                }
                else
                {
                    return sizeInput;
                }
            },
            styles() {
                return {
                    'background-image': `url(${this.src})`,
                    'height': this.height
                }
            }
        },
        mounted() {
            this.$nextTick(() => {
                window.addEventListener('resize', () => {
                    this.windowWidth = window.innerWidth
                });
            })
        }
    }
</script>

<style lang="scss">
    .image-cap {
        width: 100%;
        position: relative;

        max-height: calc(100vh - 2.4rem);
        min-height: 200px;

        overflow: hidden;
        background-position: 50% 50%;
        background-size: cover;

        img {
            width: 100%;
            height: auto;
        }

        h1.title {
            position: absolute;
            top: 50%;
            left: 50%;

            width: 100%;

            transform: translate(-50%, -120%);

            text-align: center;
            color: white;
            font-family: 'Helvetica', 'Verdana', sans-serif;
            font-size: 15vh;

            text-shadow: 0 0 2px black;
        }

        span.inner-mini-caption {
            position: absolute;

            bottom: 10px;
            left: 10px;

            color: white;
            font-family: 'Helvetica', 'Verdana', sans-serif;
            font-size: 0.8rem;

            text-shadow: 0 0 2px black;
        }
    }
</style>