<template>
    <div class="error">
        <h1 class="text-center">Error 404</h1>
        <h4>We cannot find the page you are looking for</h4>
    </div>
</template>

<script>
    export default {
        name: 'NotFoundPage',
    }
</script>

<style lang="scss" scoped>
    .error {
        text-align: center;
        text-transform: capitalize;
    }
</style>