<template>
    <div class="about">
        <h1 class="title">About <span class="monochrome-title">Monochrome</span></h1>
        <image-cap src="/opa/static/images/black-and-white-dark-pattern-211816.jpg" sizing="20vh">
            <template slot="caption">Photo by Anthony DeRosa from Pexels</template>
        </image-cap>
        <p>
            <span class="monochrome-title">Monochrome</span> is a One Page App built to show off the developer's
            ability to make One Page Apps in Vue.js. It was built with a bit less than a weeks worth of work.
        </p>
        <div class="spacer"></div>
        <p>
            Curabitur porta erat hendrerit nunc tempus volutpat. Vestibulum consectetur sed arcu ut tempus. Nulla sit amet mauris sem. Praesent accumsan vitae nibh vel suscipit. Donec porttitor risus justo, vitae porttitor orci lobortis nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie mauris vitae eros pulvinar, id congue felis cursus. Sed non nunc iaculis tortor rhoncus interdum. Etiam eu urna pulvinar, mattis nisi dictum, elementum nunc. Fusce ut malesuada risus. Nullam ut maximus felis. Sed non velit semper erat commodo hendrerit.
        </p>
    </div>
</template>

<script>
    import ImageCap from '../image-cap.vue';

    export default {
        name: 'AboutPage',
        components: { ImageCap }
    }
</script>

<style lang="scss" scoped>
    .about {
        width: 100%;
        max-width: 1024px;

        left: 0; right: 0;
        margin: auto;

        .title {
            text-transform: uppercase;
            text-align: center;
            font-weight: 400;
        }

        .spacer {
            border-top: 1px black solid;

            margin: 50px 0;
        }


        > p {
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
    }
</style>