<template>
    <div>
        <div class="loading" v-if="loading">Loading...</div>

        <div v-if="!loading" class="article" :class="pageType">
            <header class="article-header">
                <ImageCap :src="article['title-image']" sizing="16:9" mobile-sizing="3:4">
                    <template slot="caption">{{article['title-image-caption']}}</template>
                </ImageCap>
                <div class="title-block">
                    <div class="title-text">
                        <h1 class="main-title" v-html="article.title"></h1>
                        <span class="main-sub" v-html="'by ' + article.author"></span>
                    </div>
                </div>
            </header>
            <article class="article-content">
                <template v-for="item in article['article-content']">
                    <p v-if="getArticleItemType(item) == 'paragraph' || getArticleItemType(item) == 'quote'"
                       v-html="item.text || item"
                       :class="{'quote': getArticleItemType(item) == 'quote'}">
                    </p>

                    <ImageCap v-if="getArticleItemType(item) == 'image'" :src="item.src">
                        <template slot="caption">{{item['overlay-caption'] || ''}}</template>
                    </ImageCap>
                </template>
            </article>
        </div>
    </div>
</template>

<script>
    import ImageCap from '../image-cap.vue';

    export default {
        name: 'ArticlePage',
        components: { ImageCap },
        data () {
            return {
                loading: false,
                article: null,
                error: null
            }
        },
        computed: {
            pageType() {
                // Only return an article type if exists
                return this.article && this.article.type || '';
            }
        },
        created () {
            // set this as a page that has a minimised title
            this.$root.$el.classList.add("no-title");

            this.fetchData();
        },
        destroyed() {
            // Clear the state of a minimised title
            this.$root.$el.classList.remove("no-title");
        },
        watch: {
            // call again the method if the route changes
            '$route': 'fetchData'
        },
        methods: {
            fetchData () {
                this.error = null;
                this.post = null;
                this.loading = true;
                jQuery.get(`/opa/static/models/${this.$route.params.articleId}.json`)
                    .done((data) => {
                        this.article = data;
                    })
                    .fail((jqXHR, status) => {
                        this.error = jqXHR.toString();
                        console.error(this.error);
                    })
                    .always(() => {
                        this.loading = false;

                        if (!this.article)
                        {
                            console.log('no article')
                            this.$router.push({name: '404'})
                        }
                    });
            },


            getArticleItemType(articleItem) {
                if (typeof articleItem == 'string')
                {
                    return 'paragraph';
                }

                if (typeof articleItem == 'object' && articleItem.hasOwnProperty('type'))
                {
                    return articleItem['type'];
                }
            }
        }
    }
</script>

<style lang="scss">
    .loading {
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
    }

    .article-header {
        position: relative;

        .title-block {
            position: absolute;
            top: 0; bottom: 0;
            left: 50%; right: 0;

            color: white;
            background-color: rgba(0,0,0,0.7);

            @media (orientation: portrait) {
                top: 0; bottom: 50%;
                left: 0; right: 0;
            }

            .title-text {
                position: absolute;
                top: 50%; left: 50%;

                text-align: center;
                transform: translate(-50%, -50%);
            }

        }
    }

    .article-content {
        max-width: 800px;
        margin: 100px auto 100px auto;

        p:nth-of-type(1) {
            &:first-line {
                font-size: 120%;
            }

            &:first-letter {
                font-size: 140%;
            }
        }

        .quote {
            color: #929ba3;

            font-size: 1.5rem;
            font-weight: 800;
            text-align: center;
        }
    }
</style>