<template>
    <div class="articles">
        <router-link to="/article/headline-story" class="article-link">
            <ImageCap src="/opa/static/images/pexels-photo-569098.jpg" sizing="3:1" mobile-sizing="1:1">
                <template slot="caption">Photo by Sam Walker from Pexels</template>
            </ImageCap>
            <div class="title-text">
                <h1>Main Story</h1>
            </div>
        </router-link><!--
        --><router-link to="/article/story-1" class="article-link">
            <ImageCap src="/opa/static/images/black-and-white-perspective-railroad-285286.jpg" sizing="3:1" mobile-sizing="1:1">
                <template slot="caption">Photo by Nikolai Ulltang from Pexels</template>
            </ImageCap>
            <div class="title-text">
                <h1>Story 1</h1>
            </div>
        </router-link><!--
        --><router-link to="/article/story-2" class="article-link">
            <ImageCap src="/opa/static/images/architecture-black-and-white-buildings-34723.jpg" sizing="3:1" mobile-sizing="1:1">
            </ImageCap>
            <div class="title-text">
                <h1>Story 2</h1>
            </div>
        </router-link>
    </div>
</template>

<script>
    import ImageCap from '../image-cap.vue';

    export default {
        name: 'HomePage',
        components: { ImageCap }
    }
</script>

<style lang="scss" scoped>
    .articles {
        margin-top: 175px;
        padding: 0 40px 80px 40px;
        border-left: 15px black solid;
        border-right: 15px black solid;

        box-sizing: border-box;



        .article-link {
            position: relative;
            width: 100%;

            display: inline-block;
            float: none;

            border: 2px white solid;

            box-sizing: border-box;

            .title-text {
                color: black;
                text-decoration: none;
            }

            &:nth-child(-n+3) {
                .title-text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    color: white;
                    text-shadow: 0 0 5px black;
                }
            }

            &:nth-child(n+2):nth-child(-n+3) {
                width: 50%;
            }
        }
    }
</style>